# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.5

## Exercícios Cap02

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [2]:
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [3]:
lista2 = ['Abacaxi', 'Uva', 'Laranja', 'Banana', 'Maça']
print(lista2)

['Abacaxi', 'Uva', 'Laranja', 'Banana', 'Maça']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [5]:
frase1 = 'Meu nome é '
frase2 = 'Victor'

frase3 = frase1 + frase2
print(frase3)

Meu nome é Victor

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [7]:
tupla = (1,2,2,3,4,4,4,5)
tupla.count(4)

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [9]:
dict = {}
print(dict)
type(dict)

{}

dict

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [10]:
dict2 = {'fruta1':'Maça', 'fruta2':'Banana', 'fruta3':'Abacaxi'}
print(dict2)

{'fruta1': 'Maça', 'fruta2': 'Banana', 'fruta3': 'Abacaxi'}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [13]:
dict2['fruta4'] = 'Uva'
print(dict2)

{'fruta1': 'Maça', 'fruta2': 'Banana', 'fruta3': 'Abacaxi', 'fruta4': 'Uva'}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [16]:
dict3 = {'f1':'teste', 'f2': 1.0, 'f3': [1,2]}
dict3['f3']

[1, 2]

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [20]:
lista3 = ['string', (1,2), {'t1':'valor1', 't2':'valor2'}, 12.0]
lista3[3]

12.0

In [21]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [22]:
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>